<div class="personal-info-container">
  <span class="welcome-content display-block center-text-content">Personal Info</span>
  <span class="sub-content display-block center-text-content">Basic info, like your name and photo, that you use on Google services</span>
  <ul class="main-items display-flex flex-justify-center wrap">
    <li class="box-display eighty-percent">
      <div class="box-display-grid-big">
        <span class="box-content float-left">
          <span class="box-content-title display-block">Profile</span>
          <span class="box-sub-content display-block">Some info may be visible to other people using Google services. Learn more</span>
        </span>
        <img src="../../assets/ico/big-personal-icon.png" class="big-icon" />
      </div>
      <a href="#" class="box-link display-block">Edit Your Profile</a>
    </li>
    <li class="box-display eighty-percent">
      <div class="box-display-grid-big">
        <span class="box-content float-left">
          <span class="box-content-title display-block">Contact Info</span>
          <span class="box-sub-content display-block">Check Google Dashboard to see a summary of your services and the data saved in your account</span>
        </span>
        <img src="../../assets/ico/big-contact-icon.png" class="big-icon" />
      </div>
      <a href="#" class="box-link display-block">Edit Your Contact Information</a>
    </li>
    <li class="box-display eighty-percent">
      <div class="box-display-grid-big">
        <span class="box-content float-left">
          <span class="box-content-title display-block">Choose What Other See</span>
          <span class="box-sub-content display-block">You decide what personal info you make visible to others across Google services</span>
        </span>
        <img src="../../assets/ico/big-account-icon.png" class="big-icon" />
      </div>
      <a href="#" class="box-link display-block">Edit Your Privacy Settings</a>
    </li>
  </ul>
</div>
