<div class="home-profile">
  <img src="../../assets/images/avatar.png" class="center-nontext-content display-block" />
  <span class="welcome-content display-block center-text-content">Welcome, Tenno</span>
  <span class="sub-content display-block center-text-content">Manage your info, privacy, and security to make Google work better for you</span>
  <ul class="main-items display-flex flex-justify-center wrap">
    <li class="box-display two-cols display-grid-temp">
      <div class="box-display-grid">
        <span class="box-content float-left">
          <span class="box-content-title display-block">Review your privacy settings</span>
          <span class="box-sub-content display-block">Take the Privacy Checkup, a step-by-step guide that helps you choose your privacy settings.</span>
        </span>
        <img *ngIf="ricon" src="../../assets/ico/small-privacy-icon.png" class="small-icon" />
        <img *ngIf="xlicon" src="../../assets/ico/big-privacy-icon.png" class="big-icon" />
      </div>
      <a href="#" class="box-link display-block">Get Started</a>
    </li>
    <li class="box-display two-cols display-grid-temp">
      <div class="box-display-grid">
        <span class="box-content float-left">
          <span class="box-content-title display-block">Security issues found</span>
          <span class="box-sub-content display-block">Protect your account now by resolving these issues.</span>
        </span>
        <img *ngIf="ricon" src="../../assets/ico/small-security-icon.png" class="small-icon" />
        <img *ngIf="xlicon" src="../../assets/ico/big-security-icon.png" class="big-icon" />
      </div>
      <a href="#" class="box-link display-block">Secure Account</a>
    </li>
    <li class="box-display two-cols display-grid-temp">
      <div class="box-display-grid">
        <span class="box-content float-left">
          <span class="box-content-title display-block">Make Google yours</span>
          <span class="box-sub-content display-block">See the data in your Google Account and choose what activity is saved to personalize your Google experience</span>
        </span>
        <img *ngIf="ricon" src="../../assets/ico/small-personalize-icon.png" class="small-icon" />
        <img *ngIf="xlicon" src="../../assets/ico/big-personal-icon.png" class="big-icon" />
        <div class="clearer">&nbsp;</div>
      </div>
      <a href="#" class="box-link display-block">Manage your data &amp; personalization</a>
    </li>
    <li class="box-display two-cols display-grid-temp">
      <div class="box-display-grid">
        <span class="box-content float-left">
          <span class="box-content-title display-block">Account storage</span>
          <span class="box-sub-content display-block">Your account storage is shared across Google services, like Gmail and Photos.</span>
        </span>
        <img *ngIf="ricon" src="../../assets/ico/small-account-icon.png" class="small-icon" />
        <img *ngIf="xlicon" src="../../assets/ico/big-account-icon.png" class="big-icon" />
        <div class="clearer">&nbsp;</div>
      </div>
      <a href="#" class="box-link display-block">Manage storage</a>
    </li>
  </ul>
</div>