<div class="home-profile">
  <img src="../../assets/images/avatar.png" class="center-nontext-content display-block" />
  <span class="welcome-content display-block center-text-content">Welcome, Tenno</span>
  <span class="sub-content display-block center-text-content">Manage your info, privacy, and security to make Google work better for you</span>
  <ul class="main-items display-flex flex-justify-center wrap">
    <li class="two-cols box-display" *ngFor="let c of content">
      <content-box [content]="c"></content-box>
    </li>
  </ul>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />