<div class="data-and-personalization">
  <span class="welcome-content display-block center-text-content">Data &amp; personalization</span>
  <span class="sub-content display-block center-text-content">Your data, activity, and preferences that help make Google services more useful to you</span>
  <ul class="main-items display-flex flex-justify-center wrap">
    <li class="box-display eighty-percent">
      <content-box [content]="getProperties(0)"></content-box>
    </li>
    <li class="box-display eighty-percent">
      <content-box [content]="getProperties(1)"></content-box>
    </li>
    <li class="box-display two-cols">
      <content-box [content]="getProperties(2)"></content-box>
    </li>
    <li class="box-display two-cols">
      <content-box [content]="getProperties(3)"></content-box>
    </li>
  </ul>
</div>
